<!DOCTYPE html>
<html>
  <head>
    <title>Eat da Burger!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    
    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">
  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    
    <link rel="stylesheet" href="assets/css/style.css">
  </head>

  <body>

    <div class="container-fluid">
    <center>
      <div class="row">
      {{!-- <img src="/assets/images/burgerimg3.jpg" alt="Burger Img"> --}}
    <div class="jumbotron">
    <h1>Eat-Da-Burger!</h1> 
         {{!-- <img src="http://cdn-jpg.thedailymeal.net/sites/default/files/2015/07/13/3-cheddar-cheeseburger-shallots-Crave%20Cooking%20Light.jpg" alt="Burger Img"> --}}
    <p>Choose a Burger from the list! Or make your own burger!<br> 
    Then devour it!</p>    
    </center>
      <br>
      {{{body}}}
      <br><br>
      <form action="burger/create" method="POST"> 
        <!-- Text Area Input -->
        <div class="row">
          <!-- Empty Div to help center textarea -->
          <div class="col-md-3"></div> 
          <!-- Add/Submit Burger-->
          <div class="form-group col-md-6">
            <center><label for="new_burger" class="submitFont">Add new burger!</label></center>
            <textarea class="form-control" type="text" columns="6" rows="1" id="new_burger required value=" name="burger_name"></textarea>
          </div>
          <div class="col-md-3"></div> 
        </div>
        <!-- Submit Button -->
        <center>
          <button id="submit-button" type="submit" class="btn btn-danger">Make my Burger!</button>
        </center>
      </form>
      <br>
    </div>
  </body>
</html> 



	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2020 Erin Taylor</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/ewtaylor">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>