body {
    background-color: yellow;
  }
  
  .jumbotron h1{
      color: blue;
  
  }
  
  .jumbotron{
      padding-top: 0;
      /* background-color:transparent !important; */
      background-color: red;
  }
  
  img {
  margin-top: 0%;
    width: 20%;
  }
  
  .submitFont{
      color: whitesmoke;
  }